@font-face {
    font-family: MalataOT-Bold;
    src: url('../fonts/Malaga/MalagaOT-Bold.otf')
}

@font-face {
    font-family: MalataOT-Reg;
    src: url('../fonts/Malaga/MalagaOT-Reg.otf')
}

@font-face {
    font-family: Nitti;
    src: url('../fonts/Nitti/Nitti Normal.otf')
}

@font-face {
    font-family: BrothersOT;
    src: url('../fonts/Brothers/Brothers Regular.otf')
}